*{
    font-family: sans-serif;
}
:root{
    --red_line: #E62027;
    --black: #000;
    --white: #fff;
    --background: #414251;
    --whitebg: #F1F3FA;
}
.contents{
    max-width: 86.2%;
    margin: 1%;
    min-height: 80vh;
    background-color: var(--whitebg);
    display: flex;
    align-items: start;
    justify-content: start;
    padding-left: 1rem;
    border-radius: 5px;
    padding: 0;
}
.profiling, .profile-contents{
    min-width: 20vw;
    height: 78vh;
    border-bottom: none;
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    border: solid 1px var(--red_line);
    justify-content: start;
    align-items: center;
    background-color: var(--white);
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}
.profiling{
    padding-bottom: 0;
}
.profile-contents{
    width: 70vw;
    height: 78.6vh;
    margin: 0;
    align-items: start;
    padding: 0;
    z-index: 2;
}
.profiling img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 1px var(--black);
}
.profiling button{
    border: none;
    border-bottom: solid #e620276e 1px;
    background: none;
    width: 100%;
    height: 3rem;
}
/* #pdsbtn{
    border: solid 1px var(--red_line);
    color: var(--red_line);
    font-weight: 800;
} */
.active {
    background-color: var(--red_line);
    color: var(--red_line) !important; 
    font-weight: 800 !important;
    border: solid 1px var(--red_line) !important;
}
#mt{
    margin-top: 0;
}
.user p, #iUser{
    color: var(--red_line);
}
.pds{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.fields{
    width: 97%;
    height: fit-content;
    padding: 5px 10px;
    z-index: 1;
}
.name{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    padding: 0;
    flex-wrap: wrap;
    height: 64vh;
    overflow-y: scroll;
    height: 62vh;
}
#small{
    width: 6rem;
}
#small-l{
    width: 8rem;
    text-align: start;
    display: flex;
    justify-content: start;
}
#ra{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.name li, .name p, .first-tab li, .first-tab input, .first-tab p{
    text-align: center;
    width: 12.5rem;
    height: fit-content;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.name p, .first-tab p, .first-tab input{
    border: solid 1px var(--black);
    height: 2rem;
    margin: 5px 0;
    align-items: center;
    display: flex;
    justify-content: center;

}
.first-tab li{
    margin: 0 10px;
}
label{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.tabtns, .buttons-navs{
    width: 100%;
    height: fit-content;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--red_line);
    color: var(--white);
    margin: 0;
    padding: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.buttons-navs{
    margin: 1%;
    width: 98%;
    border-radius: 5px;
    min-height: 2rem;
    background-color: var(--background);
    justify-content: space-evenly;
    padding: 5px 0;
    align-items: center;
}
.buttons-navs button, .buttons-navs li{
    width: fit-content;
    min-height: 90%;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 15px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons-navs button{
    margin-bottom: 5px;
}
.buttons-navs li:hover{
    border-bottom: solid 1px var(--white);
}
.tabtns button{
    position: absolute;
    right: 2rem;
    background-color: var(--background);
    height: 2.5rem;
    width: 4.5rem;
    padding: 5px 10px ;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    border: none;
}
.fill-up form, .first-tab{
    width: 64.1vw;
    height: 78.6vh;
    margin: 0;
    align-items: start;
    padding: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}
.fill-up form{
    border: solid 1px var(--red_line);
}
.first-tab{
    flex-direction: row;
    flex-wrap: wrap;
}
#personal-info{
    width: 64.1vw;
    height: 3rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    background-color: var(--red_line);
}
#dnt{
    cursor: not-allowed;
}