:root{
    /* Colors */
    --nav_content_bg: #b1acac;

    --nav_selection-color:#fa8282;
    --nav_margin: 0;
    --nav_text_gap: 1rem;
}

*{
    margin: unset;
    padding: unset;
}

body { 
    display: flex;
}
nav{
    overflow: hidden;
    width: 20%;
    height: 92vh;
    border-radius: 10px;
    text-align: start;
    background-color: var(--nav_content_bg);
}

.nav-item{
    
    padding: 1rem;
    cursor: pointer;
}

.nav-item a {
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
}