*{
    font-family: sans-serif;
}
:root{
    --red_line: #E62027;
    --black: #000;
    --white: #fff;
    --background: #414251;
    --whitebg: #F1F3FA;
    --mainBG: rgb(20, 20, 20);
}
body{
    display: flex;
    justify-content: start;
    align-items: start;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: var(--white);
    overflow: hidden;
    background-color: var(--whitebg);
}
.navigation{
    min-width: 12%;
    height: 100vh;
    background-color: var(--mainBG);
}
.column{
    display: block;
    height: 100%;
    width: 100%;
}
.header{
    display: flex;
    min-height: 10%;
    width: 100vw;
    background-color: var(--mainBG);
    align-items: center;
}
.logo {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 100px;
    height: 100px;
}
.header h2, .navigation a{
    color: var(--white);
}
h2, h3{
    margin: 0;
}
.user p, .profiling p{
    text-transform: uppercase;
    margin: 10px;
    font-weight: 800;
    text-align: center;
}
.user img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.title{
    width: 70%;
}
.user, .user button{
    display: flex;
    width: 30%;
    height: 100%;
    color: var(--white);
    justify-content: start;
    align-items: center;
    border: none;
    background: none;
    margin-right: 20px;
}
.user button{
    margin: 0;
    width: fit-content;
    cursor: pointer;
}
.user i:hover, button:hover {
    color: var(--red_line);
}
.psl{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    transform: translate(6.5rem, 5rem);
    background-color: var(--background);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px var(--black);
    z-index: 4;
}
.user i:active, button:active{
    color: var(--red_line);
}
.navigations ul, .navigations{
    padding: 0;
    margin: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}
.navigations li, .navigations a, .psl a{
    text-decoration: none;
    font-size: 14px;
    transition: .5s;
    font-weight: bolder;
    width: 80%;
    height: 3rem;
    justify-content: start;
    align-items: center;
    display: flex;
}
.navigations li{
    width: 100%;
    justify-content: center;
}
.navigations li:hover{
    background-color: var(--black);
}
.navigations a{
    font-weight: 600;
    padding: 5px;
}
.psl a{
    margin: 10px;
    color: var(--white);
    width: fit-content;
    height: fit-content;
}
.psl a:hover{
    color: var(--red_line);    
}
.main-title{
    max-width: 84.7%;
    margin: 1%;
    min-height: 5%;
    background-color: var(--white);
    border: solid 1px var(--red_line);
    display: flex;
    align-items: center;
    padding-left: 1rem;
    border-radius: 5px;
}
i{
    margin-right: 5px;
}